<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Deploy started...&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.21">
      <recipients>haseeb.iqbal28@gmail.com muhammad.u.shahid@student.fh-kiel.de rabia.hasan@student.fh-kiel.de omowunmi.aderemi@student.fh-kiel.de taha_1414@hotmail.com syeddaniyalasif@gmail.com muthu_ramansv@hotmail.com avazbabayev@gmail.com ha.t.mai@student.fh-kiel.de tarun.mangla@student.fh-kiel.de hamdardvir.singh@student.fh-kiel.de</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>